# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Скрываем настройки IDE в корне
.idea/
*.iml

# Скрываем конфиденциальные файлы внутри папки backend
backend/.env
backend/.env.local

# На случай, если в будущем появится папка node_modules в бэкенде
backend/node_modules/

node_modules
.env
.idea
*.iml